<div  id="<%= dom_id collection %>">
  <div class="min-w-0">
    <div class="flex items-start gap-x-3">
      <p class="text-sm font-semibold leading-6 text-gray-900"><%= collection.name %></p>
    </div>
    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p class="whitespace-nowrap">Updated on <time><%= collection.updated_at.strftime('%m/%d/%y') %></time></p>
      <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
        <circle cx="1" cy="1" r="1" />
      </svg>
      <p class="truncate">Created by <%= collection.user.email %></p>
    </div>
  </div>

</div>
