<div id="<%= dom_id url %>">

    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900"><%= url.name %></h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"><%= url.description %>.</p>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="">
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Base Url</dt>

        </div>
      </dl>
      <dl class="divide-y divide-gray-100">
        <div class="px-4 pb-6">
          <dd class="text-sm text-gray-700 w-full">
            <textarea class="text-left text-xs w-full text-gray-500 shadow rounded-md border border-gray-200 outline-none resize-none"
                      disabled><%= url.url %></textarea>

          </dd>
        </div>
      </dl>
    </div>
</div>
