<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Filter groups" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Filter groups</h1>
    <%= link_to "New filter group", new_filter_group_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="filter_groups" class="min-w-full">
    <% @filter_groups.each do |filter_group| %>
      <%= render filter_group %>
      <p>
        <%= link_to "Show this filter group", filter_group, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
