<%= turbo_frame_tag dom_id @odata_request do %>

  <div class="mx-auto  w-full bg-white p-4 m-4 rounded-md">
  <h1 class="font-bold text-3xl">Editing odata request</h1>

  <%= render "form", odata_request: @odata_request, collection: @odata_request.collection_id %>

  <%= link_to "Cancel", @odata_request, class: "rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
</div>
<% end %>