
<div id="<%= dom_id credential %>">
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">Credentials</h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Set the collection credentials</p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">username</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= credential.username %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">password</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0" data-controller="password-visibility">
          <input class="block w-full rounded-md border-none sm:text-sm"
                 disabled type="password"
                 value="<%= credential.password %>"
                 data-password-visibility-target="input"
                 spellcheck="false" />
          <button type="button" data-action="password-visibility#toggle">
            <span class="ml-4 text-center text-xs font-medium leading-6 text-gray-900" data-password-visibility-target="icon">show</span>
            <span class="ml-4 text-center hidden text-xs font-medium leading-6 text-gray-900" data-password-visibility-target="icon" >hide</span>
          </button>
        </dd>
      </div>
    </dl>
  </div>
</div>
