<%= turbo_frame_tag "credential_collection_#{@collection}" do %>

  <div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-3xl">New credential</h1>

  <%= render "form", credential: @credential, collection: @collection %>

</div>
<% end %>